@page "/"
<PageTitle>Blazor Template</PageTitle>
<h1 class="text-light">This is a template for building Blazor WebAssembly projects using .net core</h1>
<h4 class="text-light">This template contains:</h4>
<ul class="text-light">
    <li>Create script for database</li>
    <li>DB models</li>
    <li>Authentication methods</li>
    <li>Azure communication and storage integration</li>
    <li>Role based authorization logic</li>
    <li>Password recovery</li>
    <li>Security module (Cryptography)</li>
    <li>Notifications framework</li>
</ul>

